<div class="row">
  <div class="col-md-12">
    <button onclick="goBack()" class="btn btn-primary">Back</button>
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= "#{@entry.model_name}: #{@entry.id}" %></strong></div>
      <div class="panel-body">
        <% @entry.attributes.each do |k,v| %>
          <p><strong><%= k.humanize %>:</strong> <%= v %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
