<div class="row">
  <div class="col-md-12">
    <a href="<%= url("/")%>" class="btn btn-primary">Back</a>
    <p></p>
    <% @entry.attributes.each do |k,v| %>
      <p><strong><%= k.humanize %>:</strong> <%= v %></p>
    <% end %>
  </div>
</div>
